#div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#text{
    border: 4px solid purple;
    font-size: 20px;

    background-color: rosybrown;
    color: seashell;
    border-radius: 13px;
    padding: 10px;
    outline: none;/* jo bahar se dikh raha h woh nii dekhega ab */
}
#btn{
    width: 144px;
    font-size: 24px;
    background-color: tan;
    color: tomato;
    border: 4px solid violet;
}
#some,#word{
    font-size: 20px;
    color: turquoise;
}